table {
  border-collapse: collapse; /* Merges borders into single lines */
  width: 60%; /* Makes the table fill its container */
}
td {
  border: 1px solid black;
  padding: 15px; /* Adds space inside cells */
  text-align: center; /* Centres text horizontally */
  width: 45%; /* Ensures all 3 columns have equal, wide width */
}

.independent {
  background-color: pink;
}
